

.tableLayout{
    margin-left: 4em;


}

table{
    margin-right: 20px;
    text-align: center;
    box-shadow: 0 1px 1px grey;
    border-collapse: collapse;
    color: rgb(114, 112, 112);
   
   
   
}
thead{
    box-shadow: 0 0 5px grey;
}
th{
    
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td{
    padding: 1rem 2rem;

}

tr:nth-child(even){
    background-color: #F3F6FC;
}


.categories{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.categories h3{
    margin-right: 20px;
}

select{
    margin: 0 10px;
}

.categories select, button, input[type=submit], input[type=file] {
    padding: 10px; 
    background:#edf2ff; 
    border:none;
    cursor: pointer;
}

button:hover, .categories select:hover, input[type=submit]:hover, input[type=file]:hover {
    background-color: rgb(13, 74, 145);
    color: white;
    transition: 0.6s;
}


.categories button, .categories select, input[type=submit], input[type=file] {
 border-radius: 10px;
}


.tableContainer{
    height: 75vh;
    overflow: scroll;
  
}

::-webkit-scrollbar {
    display: none;
  }

  thead tr th {
    position: sticky;
    top: 0;
    background-color: white;
    
  }


  table img{
    border-radius: 20%;
  }

  .addition{
    background-color: transparent;
   padding: 0;
   margin: 10px;
  }

  .addition:hover{
    background-color: transparent;
    scale: 1.2;
  }

  .imageAdd{
    height: 30px;
    width: 30px;
  }

  

  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .actionButtons:nth-child(1){
    margin-right: 10px;
    background-color: rgb(126, 206, 119);
    border-radius: 5px;
  }

  .actionButtons:nth-child(2){
    background-color: rgb(236, 113, 113);
    border-radius: 5px;
  }

  .actionButtons{
    cursor: pointer;
  }

  .actionButtons:hover{
    scale: 1.2;
    color: black;
  }

  .searchInput{
    margin-left: 10px;
    border-radius: 5px;
    height: 2em;
  }

