

.tableLayout{
    margin-left: 4em;
    width: 40vw;
    
}

table{
    margin-right: 20px;
    text-align: center;
    box-shadow: 0 10px 20px grey;
    border-collapse: collapse;
    color: rgb(114, 112, 112);
   
   
   
}
thead{
    box-shadow: 0 1px 20px grey;
}
th{
    
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td{
    padding: 1rem 2rem;

}

tr:nth-child(even){
    background-color: #F3F6FC;
}


.categories{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.categories h3, .categories select{
    margin-right: 20px;
}

.categories select, .categories button{
    padding: 10px; 
    background:#edf2ff; 
    border:none;
    cursor: pointer;
}

.categories button:hover, .categories select:hover{
    background-color: rgb(13, 74, 145);
    color: white;
    transition: 0.6s;
}


.categories button, .categories select{
 border-radius: 10px;
}


.tableContainer{
    height: 75vh;
    overflow: scroll;
  
}

::-webkit-scrollbar {
    display: none;
  }

  thead tr th {
    position: sticky;
    top: 0;
    background-color: white;
    
  }


  table img{
    border-radius: 20%;
  }

  